@import "reset";

// General layout
// ========================================================

body {
  background-color: #cccccc;

  // Default font
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  color: #000000;

  // Prevent annoying text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Also remove the text-selection cursor, as the text is unselectable anyway
  cursor: default;
}

h1 {
  margin: 8px 0;
  font-size: 18px;
  color: #22aa22;
}

// Specific game stuff
// ========================================================

div#gold-mine {
  margin-top: 20px;
  width: 96px;
  height: 89px;

  background-image: url('../resources/gold_mine.png');
  cursor: pointer;

  &:hover {
    background-position: 96px 0;
  }
}

div#upgrade-income-button {
  @extend .upg-button;
  margin-top: 10px;
}

div#upgrade-click-button {
  @extend .upg-button;
  margin-top: 10px;
}

.upg-button {
  position: relative;
  width: 150px;
  height: 45px;
  line-height: 34px;

  font-size: 15px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #7799bb;
  }

  // The label showing the current level of the upgrade
  .level {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 18px;

    font-size: 11px;
    color: #111111;
  }
}