@import "reset";

body {
  background-color: #cccccc;

  // Default font
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  color: #000000;

  // Prevent annoying text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Also remove the text-selection cursor, as the text is unselectable anyway
  cursor: default;
}

div#gold-mine {
  margin-top: 20px;
  width: 96px;
  height: 89px;
  background-image: url('../resources/gold_mine.png');
  cursor: pointer;

  &:hover {
    background-position: 96px 0;
  }
}

div#upgrade-income-button {
  @extend .upg-button;
  margin-top: 10px;
}

div#upgrade-click-button {
  @extend .upg-button;
  margin-top: 10px;
}

.upg-button {
  width: 140px;
  $ht: 40px;
  height: $ht;
  line-height: $ht;

  background-color: #557799;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #7799bb;
  }
}